/* Default style for all devices */
body {
    font-family: Verdana;
    font-size: 1.0rem;
    line-height: 1.5em;
}

h1, h2, h3 {
    font-weight: bold;
    padding: 10px 5px;
}

header {
    text-align: center;
}

header,
#contact,
footer {
    background-color: yellow;
    margin: 0;
    padding: 10px 5px;
}
footer {
    border-top: 10px solid black;
}

    #contact .phone {
        text-align: center;
    }
    #contact .phone:before {
        content: url(../img/phone.png);
        padding-right: 8px;
        padding-top: 5px;
        vertical-align: middle;
    }

    footer .address,
    footer .phone,
    footer .timetable {
        display: table;
        margin-bottom: 10px;
        width: 100%;
    }
    footer .address:before,
    footer .phone:before,
    footer .timetable:before {
        display: table-cell;
        padding-right: 10px;
        text-align: center;
        vertical-align: middle;
        width: 30px;
    }
    footer .phone:before {
        content: url(../img/phone.png);
    }
    footer .address:before {
        content: url(../img/location.png);
    }
    footer .timetable:before {
        content: url(../img/time.png);
    }

#menu h2 {
    background-color: black;
    color: white;
    padding: 10px 5px;
    margin: 0;
}
#menu h3 {
    padding: 15px 10px 5px 10px;
    margin: 0;
}
#menu h3:before {
    content: 'Max\'';
    color: #666;
}
#menu p {
    padding: 0px 10px 15px 10px;
    margin: 0;
    font-style: italic;
}
#menu .price {
    float: right;
}
#menu .price:after {
    content: '€';
    padding-left: 2px;
}

/* Mobile version */
@media (max-width: 41em) {
    #contact .slogan,
    #contact .address {
        display: none;
    }
}

/* Bigger screens version */
@media (min-width: 41em) {
    #menu section {
        width: 33.33%;
        float: left;
    }
    #menu h2 {
        text-align: center;
    }
    #menu h3,
    #menu p {
        padding-left: 50px;
        padding-right: 50px;
    }
    #menu .price {
        margin-right: 10px;
    }

    footer {
        clear: both;
    }
}
