/*
Color Set - Gray Blue Gold
#222222 - Dark Gray (font, title background)
#556372 - Middle Gray (header bottom border)
#728294 - Light Gray (pizza prefix)
#1b436f - Dark Blue (background)
#e1c10f - Gold (logo, links)
#eeeeee - White (font, menu background)
*/

/*
    This is built for mobile first.

    All those styles apply to all devices but are targetting devices with
    screens smaller than 41rem.
    Any rule that applies to wider screen goes into the appropriate section
    at the end of this file.
*/
body {
    background-color: #1b436f;
    color: #222222;
    font-family: Palatino, serif;
    font-size: 1.1rem;
    line-height: 1.375em;
    text-rendering: optimizeLegibility;
}

h1, h2, h3 {
    font-weight: bold;
    padding: 10px 0;
}

a {
    color: #e1c10f;
    font-weight: bold;
    text-decoration: none;
}

.clear,
header,
#contact,
#menu,
footer {
    clear: both;
}

header {
    border-bottom: 4px solid #556372;
    text-align: center;
}

/* We're hiding those elements on small screens. */
#contact .address {
    display: none;
}

header,
footer {
    clear: both;
    margin: 0;
    padding: 10px 10px;
}

#contact {
    color: #eeeeee;
    font-size: 1.2em;
    padding-top: 20px;
}
    #contact .phone:before {
        content: url(../img/phone.png);
        padding-right: 8px;
        padding-top: 5px;
        vertical-align: middle;
    }

footer {
    border-top: 10px solid #222222;
    color: #eeeeee;
    padding-top: 20px;
}
    footer .address,
    footer .phone,
    footer .timetable {
        display: table;
        margin-bottom: 10px;
        width: 100%;
    }
    footer .address:before,
    footer .phone:before,
    footer .timetable:before {
        display: table-cell;
        padding-right: 10px;
        text-align: center;
        vertical-align: middle;
        width: 30px;
    }
    footer .phone:before {
        content: url(../img/phone.png);
    }
    footer .address:before {
        content: url(../img/location.png);
    }
    footer .timetable:before {
        content: url(../img/time.png);
    }

#menu {
    background: #eeeeee;
    padding-bottom: 20px;
}
    #menu h2 {
        background-color: #222222;
        color: #eeeeee;
        padding: 15px 10px;
        margin: 0;
    }
    #menu article {
        padding: 15px 10px;
        /*padding-top: 15px;
        padding-bottom: 15px;*/
    }
        #menu article h3 {
            margin: 0;
        }
        #menu article h3:before {
            content: 'Max\'';
            color: #728294;
        }
        #menu article p {
            margin: 0;
            font-style: italic;
        }
        #menu article .price {
            float: right;
            padding-left: 8px;
        }
        #menu article .price:after {
            content: '€';
            padding-left: 2px;
        }

/*
    Wide screen rules.

    Here come the rules for screens wider than 41em.
    We do not differentiate screens further for the moment.
*/
@media (min-width: 41em) {
    body {
        font-size: 1.2rem;
    }
    header,
    #contact {
        text-align: left;
    }
    #contact .address {
        display: block;
    }

    header h1 {
        text-align: center;
    }
    #contact .phone {
        float: right;
    }
    #menu section {
        width: 33.33%;
        float: left;
    }
    header,
    footer,
    #menu h2,
    #menu article {
        padding-left: 50px;
        padding-right: 50px;
    }

    footer {
        clear: both;
    }
}
